
*.bak_*
*.pre_hex_insert_backup
*.pre_merge_backup
*.pre_source_replace_backup
*.pre_strip_backup
*.disabled

*.bak_*
*.pre_hex_insert_backup
*.pre_merge_backup
*.pre_source_replace_backup
*.pre_strip_backup
*.disabled

*.bak_*
*.pre_hex_insert_backup
*.pre_merge_backup
*.pre_source_replace_backup
*.pre_strip_backup
*.disabled
*.raw_backup
*.obf_backup
*.pre_hex_merge_backup
*.pre_bind_fix_backup
*.pre_redeob_backup
*.pre_linnea_fix_backup
